@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

@import "tailwindcss";

@theme{
    --font-main: "Red Hat Text", sans-serif;
    
    --color-Red: hsl(14,86%,42%);
    --color-Green: hsl(159,69%,38%);
    --color-Rose-50: hsl(20,50%,98%);
    --color-Rose-100: hsl(13,31%,94%);
    --color-Rose-300: hsl(14,25%,72%);
    --color-Rose-400: hsl(7,20%,60%);
    --color-Rose-500: hsl(12,20%,44%);
    --color-Rose-900: hsl(14,65%,9%);
}

.addCartButton{
    @apply bg-white text-Rose-900 border-Rose-400;
}

.removeCartButton{
    @apply bg-Red text-white border-Red p-2 pr-3 pl-3;
}

.imgSelected{
    @apply border-[3px] border-Red;
}

.displayThumbnail{
    @apply flex gap-3 justify-between items-center border-b-2 border-Rose-100 pb-3 pt-4 w-full;
}

.displayThumbnaildiv{
    @apply w-[85%] min-w-0;
}

.displayThumbnailMenu{
    @apply h-12 rounded-[5px];
}

.displayThumbnailName{
    @apply font-semibold text-Rose-900 mb-2 truncate;
}

.displayThumbnailValue{
    @apply font-semibold text-Red mr-4;
}

.displayThumbnailPrice{
    @apply text-Rose-400 mr-2;
}

.displayThumbnailTotal{
    @apply font-semibold text-Rose-500;
}

.displayConfirmTotal{
    @apply bg-Green font-semibold absolute -right-5 top-1/2 -translate-y-1/2 -translate-x-1/2 text-Rose-900;
}